@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Raleway');

html,body{
    height: 100%;
}

.bg-login{
    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar-inverse {
    background-color: #222;
    border: none;
    border-radius: 0;
    padding: 12px 0px;
}
.nav-brand {
    font-family: 'Baloo Thambi', cursive;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 24px;
    line-height: 20px;
    color: #FFF !important;
}
.navbar-inverse .navbar-nav>li>a {
    font-family: 'Raleway', sans-serif;
    background: #DD2476;
    color: #FFF;
    margin-left: 8px;
    border-radius: 10px;
    transition: .5s;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background: #dd2443;
}

.card{
    display: inline-block;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

.card-form{
    display: inline-block;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

.card-info{
    width: 100%;
    margin: 10px 0px;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-header{
    width: 100%;
    background: #DD2476;
    border-bottom: 5px solid #2E3192;
    padding: 15px;
    color: #FFF;
    font-family: 'Baloo Thambi', cursive;
    font-size: 18px;
}
.card-body{
    width: 100%;
    background: #FFF;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.card-footer{
    padding: 5px 20px 15px;
}
.box-detail{
    background: #2E3192;
    color: #FFF;
    font-size: 32px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 15px 25px;
    margin-top: 50px;
    margin-bottom: 50px; 
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box-relative{
    position: relative;
    display: inline-block;
    margin: 35px 0 25px;
}
.box-title{
    padding: 15px 20px;
    background: #DD2476;
    color: #FFF;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-left: 8px solid #2E3192;
    font-family: 'Baloo Thambi', cursive;
}

.header{
    margin-bottom: 15px;
}

.text-header{
    font-size: 20px;
    color: #DD2476;
    font-weight: bolder
}

.form-control, .form-control:active{
    outline: 0;
    background-color: #f6f6f6;
    border: 0;
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    box-shadow: none !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.btn{
    font-family: 'Baloo Thambi', cursive;
}

.btn-primary{
    width: 100%;
    padding: 15px;
    background-color: #DD2476;
    color: #eee;
    font-size: 16px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}
.btn-primary:hover{
    background-color: #dd2443;
}
.btn-info{
    width: 100%;
    padding: 15px;
    background-color: #2E3192;
    color: #eee;
    font-size: 16px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
    background-color: #2E3192;
}
.btn-success{
    padding: 3px 8px;
    background-color: #24dd4c;
    color: #eee;
    font-size: 16px;
    border: none;
    transition: .5s;
}
.btn-success:hover, .btn-success:active, .btn-success:focus{
    background-color: #24dd4c;
}

.table{
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
thead{
    background: #df5090;
    color: #FFF;
}
.table>tbody>tr>td{
    border: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #222;
    color: #DD2476;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    font-size: 13px
}

@media (max-width: 724px) {
    .navbar-inverse .navbar-nav>li>a {
        margin:5px 15px;
    }
    .table-responsive {
        border: none
    }
}