@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Raleway");

html,
body {
  height: 100%;
}

.bg-login {
  background: -webkit-linear-gradient(90deg, #2e3192 10%, #dd2476 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar-inverse {
  background-color: #222;
  border: none;
  border-radius: 0;
  padding: 12px 0px;
}
.nav-brand {
  font-family: "Baloo Thambi", cursive;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  color: #fff !important;
}
.navbar-inverse .navbar-nav > li > a {
  font-family: "Raleway", sans-serif;
  background: #dd2476;
  color: #fff;
  margin-left: 8px;
  border-radius: 10px;
  transition: 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background: #dd2443;
}

/*Animation Card*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 2s;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.card {
  display: inline-block;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}

.card-form {
  display: inline-block;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}

.card-info {
  width: 100%;
  margin: 10px 0px;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-header {
  width: 100%;
  background: #dd2476;
  border-bottom: 5px solid #2e3192;
  padding: 15px;
  color: #fff;
  font-family: "Baloo Thambi", cursive;
  font-size: 18px;
}
.card-body {
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.card-footer {
  padding: 5px 20px 15px;
}
.box-detail {
  background: #2e3192;
  color: #fff;
  font-size: 32px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 15px 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box-relative {
  position: relative;
  display: inline-block;
  margin: 35px 0 25px;
}
.box-title {
  padding: 15px 20px;
  background: #dd2476;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-left: 8px solid #2e3192;
  font-family: "Baloo Thambi", cursive;
}

.header {
  margin-bottom: 15px;
}

.text-header {
  font-size: 28px;
  color: #dd2476;
  font-weight: bolder;
  font-family: "Baloo Thambi", cursive;
}

.form-control,
.form-control:active {
  outline: 0;
  background-color: #f6f6f6;
  border: 0;
  width: 100%;
  padding: 25px 15px;
  box-sizing: border-box;
  box-shadow: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.btn {
  font-family: "Baloo Thambi", cursive;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #dd2476;
  color: #eee;
  font-size: 16px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #dd2443;
}
.btn-info {
  width: 100%;
  padding: 15px;
  background-color: #2e3192;
  color: #eee;
  font-size: 16px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: #2e3192;
}
.btn-success {
  padding: 3px 8px;
  background-color: #24dd4c;
  color: #eee;
  font-size: 16px;
  border: none;
  transition: 0.5s;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #24dd4c;
}

.scroll-table {
  overflow-y: scroll;
  max-height: 30vh !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}

.scroll-table::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scroll-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: #2e3192;
  border-radius: 3px;
}

.table {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0px;
}
thead {
  background: #df5090;
  color: #fff;
}
.table>thead:first-child>tr:first-child>th {
  padding: 12px;
  font-size: 16px
}
.table > tbody > tr > td {
  border: none;
  padding: 8px 12px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #dd2476;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 20px;
  font-size: 13px;
}

@media (max-width: 724px) {
  .navbar-inverse .navbar-nav > li > a {
    margin: 5px 15px;
  }
  .table-responsive {
    border: none;
  }
}
